{% extends "base.html" %}
{% block content %}
<div>
    <a href="/movies/add/">
        <button type="button" class="btn btn-primary">
            + Add New Movie
        </button>
    </a>
</div>

<br/>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Director</th>
        <th>Popularity</th>
        <th>IMDB</th>
        <th>

        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>

    {% for movie in movies %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>
            <a href="/movies/{{movie.slug}}">
                {{movie.name}}
            </a>
        </td>
        <td>
            <!--<a href="/actor/{{movie.male_lead_actor_slug}}">-->
                {{movie.genre}}
            <!--</a>-->
        </td>
        <td>{{movie.director}}</td>
        <td>{{movie['99popularity']}}</td>
        <td>{{movie.imdb_score}}</td>
        <td>
            {% if permissions['type'] in ['super_admin', 'admin'] %}
                <a href="/movies/edit/{{movie.slug}}">
                    <button type="button" class="btn btn-primary">
                        Edit
                    </button>
                </a>
            {% endif %}
        </td>
        <td>
            {% if permissions['type'] == 'super_admin' %}
                <a href="/movies/delete/{{movie.slug}}">
                    <button type="button" class="btn btn-danger">
                        Delete
                    </button>
                </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}