{% extends "base.html" %}
{% block content %}
<span class="header">Editing details for movie: <b>{{movie.name}}</b></span>

<form action="/movies/save/" method="POST">
    <div class="form-group">
        <label for="movieName">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{movie.name}}">
    </div>
    <div class="form-group">
        <label for="movieMaleLeadActor">Genre - comma separated</label>
        <input type="text" class="form-control" id="genre" name="genre" value="{{movie.genre}}">
    </div>
    <div class="form-group">
        <label for="movieMaleLeadActor">Director</label>
        <input type="text" class="form-control" id="director" name="director" value="{{movie.director}}">
    </div>
    <div class="form-group">
        <label for="movieMaleLeadActor">IMDB Score</label>
        <input type="text" class="form-control" id="imdb_score" name="imdb_score" value="{{movie.imdb_score}}">
    </div>
    <div class="form-group">
        <label for="movieMaleLeadActor">Popularity score</label>
        <input type="text" class="form-control" id="99popularity" name="99popularity" value="{{movie['99popularity']}}">
    </div>
    <div class="form-group">
        <label for="movieMaleLeadActor">Slug</label>
        <input type="text" class="form-control" id="slug" name="slug" value="{{movie.slug}}">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}