{% extends "base.html" %}
{% block content %}
{% raw %}
<div>
    <div ng-controller="SingleMovie">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Genre</th>
                <th>Director</th>
                <th>Popularity</th>
                <th>IMDB</th>
                <th>
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="movie in movies">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{movie.name}}
                </td>
                <td>
                    {{movie.genre}}
                </td>
                <td>
                    {{movie.director}}
                </td>
                <td>
                    {{movie.99popularity}}
                </td>
                <td>
                    {{movie.imdb_score}}
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
{% endraw %}
{% endblock %}