{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Director</th>
        <th>Popularity</th>
        <th>IMDB Score</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td> 1</td>
        <td>
               {{movie.name}}
        </td>
        <td>
            <!--<a href="{{movie.male_lead_actor_slug}}">-->
            {{movie.genre}}
            <!--</a>-->
        </td>
        <td>{{movie.director}}</td>
        <td>{{movie['99popularity']}}</td>
        <td>{{movie.imdb_score}}</td>
        <td>
            {% if permissions['type'] in ['super_admin', 'admin'] %}
            <a href="/movies/edit/{{movie.slug}}">
                <button type="button" class="btn btn-primary">
                    Edit
                </button>
            </a>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}