<!DOCTYPE html>
<html lang="en" ng-app="movies_app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../static/ico/favicon.ico">

    <title>
        99Movies | A virtual stock market for trading in Movies
    </title>

    <!-- Bootstrap core CSS -->

    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
</head>

<body style="padding-top: 10px">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-2 col-md-14  main">
            <div class="table-responsive">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="static/js/app.js"></script>

</body>
</html>
